@import 'tailwindcss';

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-inter: var(--font-inter);
  --font-ascii: var(--font-geist-mono);
  --font-mono: var(--font-geist-mono);
}

:root {
  --background: #000;
  --foreground: #ededed;
}

* {
  user-select: none;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
}

.ascii-art {
  font-family:
    var(--font-ascii), ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New',
    monospace;
  font-variant-ligatures: none;
  letter-spacing: 0;
  tab-size: 1;
  white-space: pre;
}
